{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>

    input::placeholder {
        color: #d3d3d3;
      }
      .submit{
          background-color: #6BA3E8;
      }
  
      .center-column{
          width:600px;
          margin: 20px auto;
          padding:20px;
          background-color: #fff;
          border-radius: 3px;
          box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
      }

</style>

    <div class="center-column">

        <form method="POST">
            {% csrf_token %}
            
            <h4>Updating Laptop</h4>
            <br>
            {% for field in form %}
            <div class= 'form-group row'>
                <label for="id_{{field.name}}" class = "col-2 col-form-label">{{ field.label }}</label>
                <div class="col-10">
                    {{ field }}

                </div>           
            </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary" name="button">Make Changes</button>
        </form>
    </div>
{% endblock %}
